$primaryFont: "Lato", sans-serif;
$mainColor: #ff5851;
$backgroundColor: #f8f8f8;

body {
  background-color: #ff5851;
}
.section__hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  line-height: 80px;
  background: linear-gradient(
    to bottom,
    $backgroundColor 0%,
    $backgroundColor 50%,
    $mainColor 50%,
    $mainColor 100%
  );
}
.section__title {
  text-transform: uppercase;
  letter-spacing: -0.5px;
  width: 240px;
  height: auto;
  overflow-wrap: anywhere;
  font-size: clamp(7.8rem, 15vw, 22rem);
  font-weight: 900;
  @media all and (min-width: 768px) {
    width: 300px;
    line-height: 120px;
  }
  @media all and (min-width: 1024px) {
    width: 500px;
    line-height: 170px;
  }
  @media all and (min-width: 1440px) {
    width: 700px;
    line-height: 180px;
  }
}
.section__text--strong {
  margin-top: 40px;
  font-size: 2rem;
  color: #f8f8f8;
  font-weight: bold;
  line-height: normal;
  text-align: right;
}
.section__line {
  display: inline-block;
  width: 100px;
  height: 4%;
  margin-bottom: 10px;
  background-color: $mainColor;
  border-color: black;
  @media all and (min-width: 768px) {
    width: 150px;
  }
  @media all and (min-width: 1024px) {
    width: 200px;
  }
  @media all and (min-width: 1440px) {
    width: 250px;
  }
}
.line-break {
  display: block;
  font-size: 0;
  margin-top: 10px;
}
