@import "../core/variables.scss";
.about {
  width: 100%;
  /* min-width: 320px; */
  height: auto;

  &__text {
    font-size: clamp(1.2rem, 4vw, 2.5rem);
    text-align: justify;
    padding: 0 15% 10%;
  }

  &__bio {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    padding: 15% 0;
  }
  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: grayscale(100%);
  }
}
.skills {
  padding: 15%;

  &__title {
    font-size: 2.5rem;
    color: $mainColor;
    margin-bottom: 25px;
  }
  /*   &__line {
    text-decoration: overline;
    text-decoration-color: rgba(255, 87, 81, 0.6);
    text-decoration-thickness: 10px;
    margin-bottom: 25px;
    word-spacing: 10px;
  } */
}
