@import "../core/variables.scss";
.hello {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to right,
    $mainColor 0%,
    $mainColor 50%,
    $backgroundColor 50%,
    $backgroundColor 100%
  );
  &__lupe {
    position: absolute;
    display: block;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    color: black;
    z-index: 900;
    top: 2%;
    left: 6%;
  }
  &__title {
    position: relative;
    display: blok;
    color: black;
    line-height: 80px;
    letter-spacing: -0.5px;
    width: 160px;
    height: auto;
    overflow-wrap: anywhere;
    font-size: clamp(8.8rem, 20vw, 22rem);
    font-weight: 900;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      width: 280px;
      line-height: 120px;
    }
    @media all and (min-width: 1024px) {
      width: 380px;
      line-height: 180px;
    }
    @media all and (min-width: 1440px) {
      width: 440px;
      line-height: 180px;
    }
  }
  &__exclamation {
    color: $mainColor;
  }

  &__static-txt {
    display: block;
    font-size: clamp(2rem, 5vw, 4rem);
    text-transform: uppercase;
    font-weight: 900;
    color: black;
  }
}
