@import "../core/variables.scss";
.projects {
  width: 100%;
  height: auto;
  background-color: $backgroundColor;

  &__container {
    width: 100%;
    height: auto;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    list-style: none;
  }
  &__link {
    color: #f8f8f8;
  }
}
.projects__line {
  display: inline-block;
  width: 210px;
  height: 2%;
  margin-bottom: 10px;
  background-color: $mainColor;
  border-color: black;
}
