.projects {
  &__container {
    width: 100%;
    height: auto;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    list-style: none;
  }
}
